Flask==1.1.1
Flask-Cors==3.0.8
appnope==0.1.0
backcall==0.1.0
decorator==4.4.1
ipython==8.10.0
ipython-genutils==0.2.0
jedi==0.15.1
numpy==1.17.4
opencv-python==4.1.2.30
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==3.0.2
ptyprocess==0.6.0
Pygments==2.5.2
pytz==2018.4
six==1.13.0
traitlets==4.3.3
wcwidth==0.1.7
zenhan==0.5.2
nltk==3.4.5
